openapi: 3.0.3
info:
  title: Maven AGI Platform Actions Agents API
  version: '1.0'
  description: The Maven AGI Platform API lets developers build apps on the Maven AGI enterprise AI agent platform. It exposes conversations, knowledge, actions, users, agents, events, triggers, app settings, and analytics. Requests authenticate with an App ID and App Secret supplied as HTTP Basic credentials, together with X-Organization-Id and X-Agent-Id headers that scope the request to a specific organization and agent. Paths in this document are relative to the /v1 base path.
  contact:
    name: Maven AGI
    url: https://docs.mavenagi.com
  license:
    name: Proprietary
servers:
- url: https://www.mavenagi-apis.com/v1
  description: Production
- url: https://www.staging.mavenagi-apis.com/v1
  description: Staging
security:
- appAuth: []
tags:
- name: Agents
paths:
  /agents:
    post:
      tags:
      - Agents
      operationId: createAgent
      summary: Create an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
  /organizations/{organizationReferenceId}/agents:
    parameters:
    - $ref: '#/components/parameters/OrganizationReferenceId'
    get:
      tags:
      - Agents
      operationId: listAgents
      summary: List agents
      responses:
        '200':
          description: The list of agents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agent'
  /organizations/{organizationReferenceId}/agents/{agentReferenceId}:
    parameters:
    - $ref: '#/components/parameters/OrganizationReferenceId'
    - name: agentReferenceId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Agents
      operationId: getAgent
      summary: Get an agent
      responses:
        '200':
          description: The requested agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
    patch:
      tags:
      - Agents
      operationId: patchAgent
      summary: Patch an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
    delete:
      tags:
      - Agents
      operationId: deleteAgent
      summary: Delete an agent
      responses:
        '204':
          description: Agent deleted.
components:
  parameters:
    OrganizationReferenceId:
      name: organizationReferenceId
      in: path
      required: true
      schema:
        type: string
  schemas:
    EntityId:
      type: object
      description: A reference identifier scoped to a type.
      properties:
        referenceId:
          type: string
        type:
          type: string
        appId:
          type: string
    Agent:
      type: object
      properties:
        agentId:
          $ref: '#/components/schemas/EntityId'
        name:
          type: string
        environment:
          type: string
          enum:
          - DEMO
          - STAGING
          - PRODUCTION
  securitySchemes:
    appAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the App ID as the username and the App Secret as the password. Requests must also send X-Organization-Id and X-Agent-Id headers to scope the call to an organization and agent.
