openapi: 3.0.3
info:
  title: Maven AGI Platform Actions Events API
  version: '1.0'
  description: The Maven AGI Platform API lets developers build apps on the Maven AGI enterprise AI agent platform. It exposes conversations, knowledge, actions, users, agents, events, triggers, app settings, and analytics. Requests authenticate with an App ID and App Secret supplied as HTTP Basic credentials, together with X-Organization-Id and X-Agent-Id headers that scope the request to a specific organization and agent. Paths in this document are relative to the /v1 base path.
  contact:
    name: Maven AGI
    url: https://docs.mavenagi.com
  license:
    name: Proprietary
servers:
- url: https://www.mavenagi-apis.com/v1
  description: Production
- url: https://www.staging.mavenagi-apis.com/v1
  description: Staging
security:
- appAuth: []
tags:
- name: Events
paths:
  /events:
    post:
      tags:
      - Events
      operationId: createEvent
      summary: Create an event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
  /events/{eventId}:
    parameters:
    - name: eventId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Events
      operationId: getEvent
      summary: Get an event
      responses:
        '200':
          description: The requested event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
  /events/search:
    post:
      tags:
      - Events
      operationId: searchEvents
      summary: Search events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Matching events.
          content:
            application/json:
              schema:
                type: object
  /events/export:
    post:
      tags:
      - Events
      operationId: exportEvents
      summary: Export events
      responses:
        '200':
          description: Exported event data.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    EntityId:
      type: object
      description: A reference identifier scoped to a type.
      properties:
        referenceId:
          type: string
        type:
          type: string
        appId:
          type: string
    Event:
      type: object
      properties:
        eventId:
          $ref: '#/components/schemas/EntityId'
        type:
          type: string
        createdAt:
          type: string
          format: date-time
        data:
          type: object
  securitySchemes:
    appAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the App ID as the username and the App Secret as the password. Requests must also send X-Organization-Id and X-Agent-Id headers to scope the call to an organization and agent.
