openapi: 3.0.3
info:
  title: Maven AGI Platform Actions API
  version: '1.0'
  description: The Maven AGI Platform API lets developers build apps on the Maven AGI enterprise AI agent platform. It exposes conversations, knowledge, actions, users, agents, events, triggers, app settings, and analytics. Requests authenticate with an App ID and App Secret supplied as HTTP Basic credentials, together with X-Organization-Id and X-Agent-Id headers that scope the request to a specific organization and agent. Paths in this document are relative to the /v1 base path.
  contact:
    name: Maven AGI
    url: https://docs.mavenagi.com
  license:
    name: Proprietary
servers:
- url: https://www.mavenagi-apis.com/v1
  description: Production
- url: https://www.staging.mavenagi-apis.com/v1
  description: Staging
security:
- appAuth: []
tags:
- name: Actions
paths:
  /actions:
    put:
      tags:
      - Actions
      operationId: createOrUpdateAction
      summary: Create or update an action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionRequest'
      responses:
        '200':
          description: The created or updated action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
  /actions/search:
    post:
      tags:
      - Actions
      operationId: searchActions
      summary: Search actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Matching actions.
          content:
            application/json:
              schema:
                type: object
  /actions/{actionReferenceId}:
    parameters:
    - name: actionReferenceId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Actions
      operationId: getAction
      summary: Get an action
      responses:
        '200':
          description: The requested action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
    patch:
      tags:
      - Actions
      operationId: patchAction
      summary: Patch an action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
    delete:
      tags:
      - Actions
      operationId: deleteAction
      summary: Delete an action
      responses:
        '204':
          description: Action deleted.
components:
  schemas:
    EntityId:
      type: object
      description: A reference identifier scoped to a type.
      properties:
        referenceId:
          type: string
        type:
          type: string
        appId:
          type: string
    Action:
      type: object
      properties:
        actionId:
          $ref: '#/components/schemas/EntityId'
        name:
          type: string
        description:
          type: string
    ActionRequest:
      type: object
      required:
      - actionId
      - name
      - description
      properties:
        actionId:
          $ref: '#/components/schemas/EntityId'
        name:
          type: string
        description:
          type: string
        userInteractionRequired:
          type: boolean
        userFormParameters:
          type: array
          items:
            type: object
  securitySchemes:
    appAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the App ID as the username and the App Secret as the password. Requests must also send X-Organization-Id and X-Agent-Id headers to scope the call to an organization and agent.
